# >> Web Deployment >>
.env
.deta
# << Web Deployment <<

# >> Python >> #
__pycache__/
*.py[cod]
*$py.class
# << Python << #

# >> Python: build package >> #
*.egg-info
build.sh
clean.sh
build
dist
# << Python: build package<< #

# >> misc: image >> #
misc/
!input.png
!output.png
.*.png
# << misc: image << #