# >> Web Deployment >>
.env
# << Web Deployment <<

# >> Python >> #
__pycache__/
*.py[cod]
*$py.class
# << Python << #

# >> Python: test >> #
.pytest_cache
# << Python: test << #

# >> Python: build package >> #
*.egg-info
build
dist
# << Python: build package<< #

# >> misc: image >> #
misc/
!input.png
!output.png
.*.png
# << misc: image << #

# >> binjector >> #
.binjector-settings.json
examples/output*.*
test/assets/output.*
test/output*.*
# << binjector << #
